<%- include('partials/header') %>

    <main>
        <h1><%= title %></h1>
        <h2>Upcoming Service Projects</h2>

        <ul>
            <% projects.forEach(project => { %>
                <li>
                    <h3><%= project.name %></h3>
                    <p><%= project.description %></p>
                </li>
            <% }) %>
        </ul>
    </main>

<%- include('partials/footer') %>