<%- include('partials/header') %>

<main>

    <h1><%= project.title %></h1>

    <% if (user && user.role_name === 'admin') { %>
        <p>
            <a href="/edit-project/<%= project.project_id %>">
                Edit Project
            </a>
        </p>
    <% } %>

    <p>
        <strong>Description:</strong>
        <%= project.description %>
    </p>

    <p>
        <strong>Date:</strong>
        <%= project.date %>
    </p>

    <p>
        <strong>Location:</strong>
        <%= project.location %>
    </p>

    <p>
        <strong>Organization:</strong>

        <a href="/organization/<%= project.organization_id %>">
            <%= project.organization_name %>
        </a>
    </p>

    <p>
        <strong>Categories:</strong>
        
        <% categories.forEach(category => { %>

            <a href="/category/<%= category.category_id %>">
                <%= category.name %>
            </a>

        <% }) %>

    </p>
    <% if (isLoggedIn) { %>
        <p>
            <a href="/assign-categories/<%= project.project_id %>">
                Edit Categories
            </a>
        </p>
    <% } %>

    <% if (isLoggedIn) { %>

        <% if (isVolunteer) { %>

            <p>You are volunteering for this project.</p>
            <a href="/project/<%= project.project_id %>/remove-volunteer">
                Remove Volunteer
            </a>

        <% } else { %>

            <a href="/project/<%= project.project_id %>/volunteer">
                Volunteer for this Project
            </a>

        <% } %>
    <% } %>

</main>

<%- include('partials/footer') %>