<%- include('partials/header') %>

<main>

    <h1><%= project.title %></h1>
    <p>
        <a href="/edit-project/<%= project.project_id %>">
            Edit Project
        </a>
    </p>

    <p>
        <strong>Description:</strong>
        <%= project.description %>
    </p>

    <p>
        <strong>Date:</strong>
        <%= project.date %>
    </p>

    <p>
        <strong>Location:</strong>
        <%= project.location %>
    </p>

    <p>
        <strong>Organization:</strong>

        <a href="/organization/<%= project.organization_id %>">
            <%= project.organization_name %>
        </a>
    </p>

    <p>
        <strong>Categories:</strong>
        
        <% categories.forEach(category => { %>

            <a href="/category/<%= category.category_id %>">
                <%= category.name %>
            </a>

        <% }) %>

    </p>
    <p>
        <a href="/assign-categories/<%= project.project_id %>">
            Edit Categories
        </a>
    </p>
    

</main>

<%- include('partials/footer') %>